*.o
*.lo
*.la
Makefile
Makefile.in
src/libmetha/include/metha.h
src/config.h
.deps
.libs
config.log
config.guess
config.rpath
config.status
config.sub
missing
ltmain.sh
INSTALL
aclocal.m4
autom4te.cache
depcomp
configure
install-sh
libtool
src/methabot/mb
src/metha-config/metha-config
compile
stamp-h1
