body {
    padding: 0px;
    margin: 0px;
    min-width: 1000px;
    background-color: #f2f2f2;
}

h1 {
    font-family: sans-serif;
    font-size: 1.8em;
    color: #222;
    margin: 0px;
}

h2 {
    font-family: sans-serif;
    margin: 0 0 0.4em 0;
    font-size: .9em;
    font-weight: bold;
    padding: 0.2em;
    background-color: #eee;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    color: #666;
}

h2.error {
    background-color: #f00;
    color: #000;
    border-bottom: 1px solid #f77;
    border-right: 1px solid #f77;
}

h3 {
    font-family: sans-serif;
    margin: 0 0 0.4em 0;
    font-size: 1.00em;
    font-weight: bold;
    padding: 0.1em;
    background-color: #eee;
    color: #222;
}

h4 {
    padding: 0;
    font-family: sans-serif;
    margin: 0;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid #bbb;
}

h5 {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1em;
}

div.report {
    margin: .2em;
}

div.box {
    float:left;
    padding: 0.5em;
    margin: 0.5em;
    background-color: #efe;
    border: 1px dotted #dfd;
}

a {
    color: #0000ff;
    text-decoration: none;
}

a.id {
    font-family: monospace;
    background-color: #cec !important;
    font-size: 10px;
    color: #666;
}
a.id:before {
    content: "[";
}
a.id:after {
    content: "]";
}
a.id:hover {
    background-color: #dfd !important;
}

td.sep {
    border-right: 2px solid #bbb;
}

td.url-info {
    border-right: 2px solid #bbb;
}

input {
    border: 1px solid #668;
}

#container {
    background-color: #f2f2f2;
    padding: 0.6em;
    max-width: 1024px;
    overflow: auto;
}

#content {
    font-family: serif;
    font-size: 0.88em;
    color: #202032;
    background-color: #fff;
    overflow: auto;
}

#content-inner {
    border-left: 1px solid #bbb;
    margin:0 0;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 0em 1.5em 1.5em 1.5em;
    float:left;
    min-height: 60px;
}

#content-login {
    margin:0 0;
    padding: 1.5em;
    float:left;
}


label {
    width: 100px;
    float:left;
}

input.submit {
    margin-top: 4px;
    margin-left: 100px;
}

#header {
    min-height: 48px;
}

#header h1 {
    display:inline;
}

#header-info {
    font-style: italic;
    float:right;
    background-color: #ffd;
}

#left {
    padding-top: 0.2em;
    font-family: sans-serif;
    background-color: #fff;
    float:left;
    margin:0.5em;
    line-height: 16px;
}

a img {
    border-style: none;
}

#left ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#left ul li {
    border-bottom: 1px dotted #aaa;
}

#left ul li a {
    color: #000;
    font-weight: bold;
}

th {
    text-align: left;
    font-weight: bold;
    background-color: #eef;
}

td {
    font-size: .9em;
    font-family: sans-serif;
}

tr.odd td {
    background-color: #eee;
}

table {
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
}

td.url {
    font-weight: bold;
    font-style: italic;
}

.state {
    text-transform: uppercase;
    font-weight:bold;
}

td.session {
    border-right: 2px solid #bbb;
}

span.input {
    font-style: italic;
    text-decoration: underline;
    font-weight:bold;
}

div.content-layer {
    overflow: auto;
    margin-bottom: 1em;
}

div.msg {
    border: 1px solid #aca;
    background-color: #efe;
    font-weight: bold;
    padding: .5em;
    margin-bottom: .5em;
}

div.error {
    border: 1px solid #f00;
    background-color: #fee;
    font-weight: bold;
    padding: .5em;
    margin-bottom: .5em;
}

div#footer {
    text-align: right;
    font-size: .8em;
    font-style: italic;
}

div#footer a {
    border-style: none;
}

div#footer img {
    border-style: none;
}
